In [147]:
import pandas as pd

In [148]:
dt=pd.read_csv("merged_crime_zip_hood.csv")

dt.head()

,Unnamed: 0,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,...,Latitude_x,Longitude_x,Lat_Lon,geo2,geo4_x,geo3_x,Month,Year,Incident Zip,neighbourhood
0,0,314773184,48,BRONX,12/31/2019,18:00:00,NaN,NaN,COMPLETED,NaN,...,40.838026,-73.881681,"(40.838026269000075, -73.88168118799997)","40.83,-73.88","40.8380,-73.8816","40.838,-73.881",12,2019,10460.0,Tremont
1,1,289837961,25,MANHATTAN,12/30/2019,20:30:00,12/31/2019,10:00:00,COMPLETED,NaN,...,40.800334,-73.945657,"(40.800334261000046, -73.94565697199994)","40.80,-73.94","40.8003,-73.9456","40.800,-73.945",12,2019,10029.0,Harlem
2,2,535744284,77,BROOKLYN,12/24/2019,16:55:00,12/24/2019,17:00:00,COMPLETED,NaN,...,40.669832,-73.939376,"(40.66983179600004, -73.93937555099996)","40.66,-73.93","40.6698,-73.9393","40.669,-73.939",12,2019,11213.0,Crown Heights
3,3,895678119,52,BRONX,12/30/2019,19:32:00,NaN,NaN,COMPLETED,NaN,...,40.873671,-73.908014,"(40.87367103500002, -73.90801364899994)","40.87,-73.90","40.8736,-73.9080","40.873,-73.908",12,2019,10463.0,Kingsbridge
4,4,299841674,18,MANHATTAN,12/30/2019,15:30:00,12/30/2019,16:50:00,COMPLETED,NaN,...,40.760935,-73.994529,"(40.76093528000007, -73.99452906599998)","40.76,-73.99","40.7609,-73.9945","40.760,-73.994",12,2019,10036.0,Hell's Kitchen

In [149]:
dt["State"]="NY"

In [150]:
col_list=list(dt.columns)
print(col_list)

['Unnamed: 0', 'CMPLNT_NUM', 'ADDR_PCT_CD', 'BORO_NM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT', 'CMPLNT_TO_TM', 'CRM_ATPT_CPTD_CD', 'HADEVELOPT', 'HOUSING_PSA', 'JURISDICTION_CODE', 'JURIS_DESC', 'KY_CD', 'LAW_CAT_CD', 'LOC_OF_OCCUR_DESC', 'OFNS_DESC', 'PARKS_NM', 'PATROL_BORO', 'PD_CD', 'PD_DESC', 'PREM_TYP_DESC', 'RPT_DT', 'STATION_NAME', 'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'TRANSIT_DISTRICT', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude_x', 'Longitude_x', 'Lat_Lon', 'geo2', 'geo4_x', 'geo3_x', 'Month', 'Year', 'Incident Zip', 'neighbourhood', 'State']

In [151]:
dt=dt[['CMPLNT_NUM', 'CMPLNT_FR_DT', 'Month', 'Year', 'CMPLNT_FR_TM', 'BORO_NM','State', 'Incident Zip', 'neighbourhood', 
        'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX', 
         'LAW_CAT_CD', 'OFNS_DESC', 'CRM_ATPT_CPTD_CD']]

In [152]:
dt.tail(10)

,CMPLNT_NUM,CMPLNT_FR_DT,Month,Year,CMPLNT_FR_TM,BORO_NM,State,Incident Zip,neighbourhood,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,LAW_CAT_CD,OFNS_DESC,CRM_ATPT_CPTD_CD
461701,912917376,1/4/2019,1,2019,10:10:00,MANHATTAN,NY,10011.0,Greenwich Village,UNKNOWN,UNKNOWN,U,45-64,WHITE,M,FELONY,GRAND LARCENY,COMPLETED
461702,169145455,1/3/2019,1,2019,9:00:00,MANHATTAN,NY,10023.0,Upper West Side,NaN,NaN,NaN,UNKNOWN,UNKNOWN,D,MISDEMEANOR,CRIMINAL MISCHIEF & RELATED OF,COMPLETED
461703,153186437,1/5/2019,1,2019,19:30:00,MANHATTAN,NY,10027.0,Harlem,NaN,NaN,NaN,UNKNOWN,UNKNOWN,D,MISDEMEANOR,PETIT LARCENY,COMPLETED
461704,781940970,1/5/2019,1,2019,8:45:00,QUEENS,NY,11372.0,East Elmhurst,UNKNOWN,BLACK,F,25-44,WHITE HISPANIC,M,VIOLATION,HARRASSMENT 2,COMPLETED
461705,352845293,1/4/2019,1,2019,3:30:00,MANHATTAN,NY,10009.0,East Village,UNKNOWN,UNKNOWN,U,25-44,BLACK,F,FELONY,GRAND LARCENY,COMPLETED
461706,892593560,1/3/2019,1,2019,16:29:00,BROOKLYN,NY,11212.0,Brownsville,NaN,NaN,NaN,25-44,WHITE HISPANIC,M,MISDEMEANOR,VEHICLE AND TRAFFIC LAWS,COMPLETED
461707,249722424,1/2/2019,1,2019,22:40:00,QUEENS,NY,11411.0,Cambria Heights,25-44,BLACK,F,25-44,BLACK,M,FELONY,FELONY ASSAULT,COMPLETED
461708,214650701,1/5/2019,1,2019,20:30:00,BROOKLYN,NY,11234.0,NaN,25-44,BLACK,F,UNKNOWN,UNKNOWN,D,MISDEMEANOR,PETIT LARCENY,COMPLETED
461709,172836038,1/4/2019,1,2019,5:15:00,MANHATTAN,NY,10036.0,Midtown,NaN,NaN,NaN,25-44,BLACK,M,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,COMPLETED
461710,578287486,1/2/2018,1,2018,14:10:00,BRONX,NY,10451.0,Mott Haven,45-64,BLACK,M,UNKNOWN,UNKNOWN,E,MISDEMEANOR,DANGEROUS DRUGS,COMPLETED

In [153]:
col_list=list(dt.columns)
print(col_list)

['CMPLNT_NUM', 'CMPLNT_FR_DT', 'Month', 'Year', 'CMPLNT_FR_TM', 'BORO_NM', 'State', 'Incident Zip', 'neighbourhood', 'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX', 'LAW_CAT_CD', 'OFNS_DESC', 'CRM_ATPT_CPTD_CD']

In [154]:
dt["Year"].unique()

array([2019, 2015, 1995, 2018, 2017, 2010, 2009, 2014, 2016, 1987, 2011,
       2004, 2013, 1997, 2001, 1911, 2012, 1994, 2005, 1983, 2008, 1978,
       2003, 1993, 1980, 1979, 1919, 1019, 1991, 1974, 2006, 2000, 1977,
       1990, 1999, 2007, 1984, 1029, 1998, 1920, 1949, 1996, 2002, 1965,
       1985, 1988, 1972, 1970, 1975, 1992, 1971, 1989, 1960, 1982, 1981,
       1918, 1018], dtype=int64)

In [155]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461711 entries, 0 to 461710
Data columns (total 18 columns):
CMPLNT_NUM          461711 non-null int64
CMPLNT_FR_DT        461711 non-null object
Month               461711 non-null int64
Year                461711 non-null int64
CMPLNT_FR_TM        461711 non-null object
BORO_NM             461711 non-null object
State               461711 non-null object
Incident Zip        448495 non-null float64
neighbourhood       450111 non-null object
SUSP_AGE_GROUP      352301 non-null object
SUSP_RACE           352301 non-null object
SUSP_SEX            352301 non-null object
VIC_AGE_GROUP       461708 non-null object
VIC_RACE            461708 non-null object
VIC_SEX             461708 non-null object
LAW_CAT_CD          461711 non-null object
OFNS_DESC           461699 non-null object
CRM_ATPT_CPTD_CD    461711 non-null object
dtypes: float64(1), int64(3), object(14)
memory usage: 63.4+ MB

In [156]:
dt["Year"]=dt["Year"].astype(str)

In [157]:
dt.drop(dt[dt["Year"]!="2019"].index, inplace=True)

In [158]:
dt["Year"].unique()

array(['2019'], dtype=object)

In [159]:
dt.head()

,CMPLNT_NUM,CMPLNT_FR_DT,Month,Year,CMPLNT_FR_TM,BORO_NM,State,Incident Zip,neighbourhood,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,LAW_CAT_CD,OFNS_DESC,CRM_ATPT_CPTD_CD
0,314773184,12/31/2019,12,2019,18:00:00,BRONX,NY,10460.0,Tremont,UNKNOWN,UNKNOWN,U,45-64,WHITE HISPANIC,F,FELONY,ROBBERY,COMPLETED
1,289837961,12/30/2019,12,2019,20:30:00,MANHATTAN,NY,10029.0,Harlem,NaN,NaN,NaN,25-44,WHITE HISPANIC,F,MISDEMEANOR,PETIT LARCENY,COMPLETED
2,535744284,12/24/2019,12,2019,16:55:00,BROOKLYN,NY,11213.0,Crown Heights,UNKNOWN,BLACK,M,18-24,WHITE,M,FELONY,FELONY ASSAULT,COMPLETED
3,895678119,12/30/2019,12,2019,19:32:00,BRONX,NY,10463.0,Kingsbridge,25-44,WHITE,F,UNKNOWN,UNKNOWN,D,MISDEMEANOR,PETIT LARCENY,COMPLETED
4,299841674,12/30/2019,12,2019,15:30:00,MANHATTAN,NY,10036.0,Hell's Kitchen,NaN,NaN,NaN,25-44,WHITE HISPANIC,M,MISDEMEANOR,PETIT LARCENY,COMPLETED

In [160]:
dt=dt.dropna(subset=["Incident Zip"])

In [161]:
dt["Incident Zip"]=dt["Incident Zip"].astype(int)

In [162]:
dt["Incident Zip"]=dt["Incident Zip"].astype(str)

In [163]:
 #we have 13,216 empty rows in col zipcodes but only 6,486 mising in "neighbourhood"

null_columns=dt.columns[dt.isnull().any()]
dt[null_columns].isnull().sum()

neighbourhood       8788
SUSP_AGE_GROUP    101668
SUSP_RACE         101668
SUSP_SEX          101668
VIC_AGE_GROUP          3
VIC_RACE               3
VIC_SEX                3
OFNS_DESC              8
dtype: int64

In [164]:
dt=dt.dropna(subset=["neighbourhood"])

In [165]:
dt=dt.dropna(subset=["OFNS_DESC"])

In [166]:
dt=dt.dropna(subset=["neighbourhood"])

In [167]:
dt.head(20)

,CMPLNT_NUM,CMPLNT_FR_DT,Month,Year,CMPLNT_FR_TM,BORO_NM,State,Incident Zip,neighbourhood,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,LAW_CAT_CD,OFNS_DESC,CRM_ATPT_CPTD_CD
0,314773184,12/31/2019,12,2019,18:00:00,BRONX,NY,10460,Tremont,UNKNOWN,UNKNOWN,U,45-64,WHITE HISPANIC,F,FELONY,ROBBERY,COMPLETED
1,289837961,12/30/2019,12,2019,20:30:00,MANHATTAN,NY,10029,Harlem,NaN,NaN,NaN,25-44,WHITE HISPANIC,F,MISDEMEANOR,PETIT LARCENY,COMPLETED
2,535744284,12/24/2019,12,2019,16:55:00,BROOKLYN,NY,11213,Crown Heights,UNKNOWN,BLACK,M,18-24,WHITE,M,FELONY,FELONY ASSAULT,COMPLETED
3,895678119,12/30/2019,12,2019,19:32:00,BRONX,NY,10463,Kingsbridge,25-44,WHITE,F,UNKNOWN,UNKNOWN,D,MISDEMEANOR,PETIT LARCENY,COMPLETED
4,299841674,12/30/2019,12,2019,15:30:00,MANHATTAN,NY,10036,Hell's Kitchen,NaN,NaN,NaN,25-44,WHITE HISPANIC,M,MISDEMEANOR,PETIT LARCENY,COMPLETED
5,136697381,12/28/2019,12,2019,13:00:00,BROOKLYN,NY,11222,Greenpoint,NaN,NaN,NaN,UNKNOWN,UNKNOWN,D,MISDEMEANOR,PETIT LARCENY,COMPLETED
6,628084657,12/22/2019,12,2019,16:30:00,BROOKLYN,NY,11236,Canarsie,25-44,BLACK,M,25-44,BLACK,M,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,COMPLETED
7,487138011,12/29/2019,12,2019,17:20:00,BRONX,NY,10472,Parkchester,UNKNOWN,WHITE HISPANIC,M,25-44,BLACK,M,FELONY,ROBBERY,COMPLETED
8,227601821,12/29/2019,12,2019,12:30:00,MANHATTAN,NY,10019,Hell's Kitchen,UNKNOWN,WHITE,M,25-44,WHITE,F,MISDEMEANOR,SEX CRIMES,COMPLETED
9,536304115,12/28/2019,12,2019,15:05:00,MANHATTAN,NY,10011,Chelsea,65+,WHITE,F,18-24,ASIAN / PACIFIC ISLANDER,F,VIOLATION,HARRASSMENT 2,COMPLETED
10,355744896,12/28/2019,12,2019,14:10:00,BRONX,NY,10468,Mount Hope,UNKNOWN,BLACK,M,25-44,BLACK HISPANIC,F,VIOLATION,HARRASSMENT 2,COMPLETED
11,754294853,12/28/2019,12,2019,11:30:00,MANHATTAN,NY,10022,Midtown,NaN,NaN,NaN,UNKNOWN,UNKNOWN,D,FELONY,GRAND LARCENY,COMPLETED
12,600940250,12/27/2019,12,2019,12:00:00,BROOKLYN,NY,11236,Canarsie,UNKNOWN,UNKNOWN,U,65+,BLACK,F,FELONY,THEFT-FRAUD,COMPLETED
13,429316515,12/27/2019,12,2019,4:20:00,QUEENS,NY,11102,Astoria,UNKNOWN,UNKNOWN,U,UNKNOWN,UNKNOWN,E,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,COMPLETED
14,518612337,12/26/2019,12,2019,13:59:00,BRONX,NY,10452,Concourse,NaN,NaN,NaN,25-44,WHITE HISPANIC,F,MISDEMEANOR,PETIT LARCENY,COMPLETED
15,365001231,12/25/2019,12,2019,17:10:00,MANHATTAN,NY,10030,Harlem,NaN,NaN,NaN,25-44,BLACK,M,MISDEMEANOR,PETIT LARCENY,COMPLETED
16,271699374,12/25/2019,12,2019,11:20:00,BRONX,NY,10474,Hunts Point,65+,WHITE HISPANIC,M,45-64,WHITE HISPANIC,F,VIOLATION,HARRASSMENT 2,COMPLETED
17,186563977,12/24/2019,12,2019,23:00:00,BRONX,NY,10468,Kingsbridge,UNKNOWN,UNKNOWN,U,18-24,WHITE HISPANIC,F,MISDEMEANOR,PETIT LARCENY,COMPLETED
18,815149872,12/20/2019,12,2019,17:00:00,BRONX,NY,10452,Concourse,UNKNOWN,UNKNOWN,U,45-64,BLACK,F,FELONY,GRAND LARCENY,COMPLETED
19,708944208,12/24/2019,12,2019,14:45:00,MANHATTAN,NY,10023,Upper West Side,NaN,NaN,NaN,45-64,WHITE,M,VIOLATION,HARRASSMENT 2,COMPLETED

In [168]:
# cleaning some other attributes like age

In [169]:
dt["SUSP_AGE_GROUP"].unique()

array(['UNKNOWN', nan, '25-44', '65+', '45-64', '18-24', '<18', '-965',
       '2019', '-966', '-964', '-973', '-968', '-64', '930', '-1', '-80',
       '947', '924', '929', '1019'], dtype=object)

In [170]:
dt.groupby(["SUSP_AGE_GROUP"]).agg({"CMPLNT_NUM":"count"})

                CMPLNT_NUM
SUSP_AGE_GROUP
-1                       2
-64                      1
-80                      1
-964                     1
-965                     1
-966                     2
-968                     2
-973                     2
1019                     1
18-24                36595
2019                     8
25-44               110686
45-64                40220
65+                   3738
924                      1
929                      2
930                      1
947                      1
<18                  11274
UNKNOWN             128031

In [171]:
drop_index=dt[(dt["SUSP_AGE_GROUP"]!="45-64") & (dt["SUSP_AGE_GROUP"]!="25-44")&
                    (dt["SUSP_AGE_GROUP"]!="18-24") & (dt["SUSP_AGE_GROUP"]!="65+")&
                   (dt["SUSP_AGE_GROUP"]!="<18")& (dt["SUSP_AGE_GROUP"]!="UNKNOWN")].index

dt.drop(drop_index , inplace=True)
dt["SUSP_AGE_GROUP"].unique()

array(['UNKNOWN', '25-44', '65+', '45-64', '18-24', '<18'], dtype=object)

In [172]:
drop_index=dt[(dt["VIC_AGE_GROUP"]!="45-64") & (dt["VIC_AGE_GROUP"]!="25-44")&
                    (dt["VIC_AGE_GROUP"]!="18-24") & (dt["VIC_AGE_GROUP"]!="65+")&
                   (dt["VIC_AGE_GROUP"]!="<18")& (dt["VIC_AGE_GROUP"]!="UNKNOWN")].index

dt.drop(drop_index , inplace=True)
dt["SUSP_AGE_GROUP"].unique()

array(['UNKNOWN', '25-44', '65+', '45-64', '18-24', '<18'], dtype=object)

In [173]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 330517 entries, 0 to 461707
Data columns (total 18 columns):
CMPLNT_NUM          330517 non-null int64
CMPLNT_FR_DT        330517 non-null object
Month               330517 non-null int64
Year                330517 non-null object
CMPLNT_FR_TM        330517 non-null object
BORO_NM             330517 non-null object
State               330517 non-null object
Incident Zip        330517 non-null object
neighbourhood       330517 non-null object
SUSP_AGE_GROUP      330517 non-null object
SUSP_RACE           330517 non-null object
SUSP_SEX            330517 non-null object
VIC_AGE_GROUP       330517 non-null object
VIC_RACE            330517 non-null object
VIC_SEX             330517 non-null object
LAW_CAT_CD          330517 non-null object
OFNS_DESC           330517 non-null object
CRM_ATPT_CPTD_CD    330517 non-null object
dtypes: int64(2), object(16)
memory usage: 47.9+ MB

In [174]:
dt["Month"]=dt["Month"].astype(str)

In [175]:
dt["CMPLNT_NUM"]=dt["CMPLNT_NUM"].astype(str)

In [176]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 330517 entries, 0 to 461707
Data columns (total 18 columns):
CMPLNT_NUM          330517 non-null object
CMPLNT_FR_DT        330517 non-null object
Month               330517 non-null object
Year                330517 non-null object
CMPLNT_FR_TM        330517 non-null object
BORO_NM             330517 non-null object
State               330517 non-null object
Incident Zip        330517 non-null object
neighbourhood       330517 non-null object
SUSP_AGE_GROUP      330517 non-null object
SUSP_RACE           330517 non-null object
SUSP_SEX            330517 non-null object
VIC_AGE_GROUP       330517 non-null object
VIC_RACE            330517 non-null object
VIC_SEX             330517 non-null object
LAW_CAT_CD          330517 non-null object
OFNS_DESC           330517 non-null object
CRM_ATPT_CPTD_CD    330517 non-null object
dtypes: object(18)
memory usage: 47.9+ MB

In [195]:
dt.rename(columns={"CRM_ATPT_CPTD_CD":"CrimeSuccesOrNot", "CMPLNT_FR_DT":"DateOfCrime", 
                     "CMPLNT_FR_TM":"TimeOfCrime" , "LAW_CAT_CD":"CrimeCategory", "OFNS_DESC":"CrimeDescription"})

,CMPLNT_NUM,DateOfCrime,Month,Year,TimeOfCrime,BORO_NM,State,Incident Zip,neighbourhood,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,CrimeCategory,CrimeDescription,CrimeSuccesOrNot
0,314773184,12/31/2019,12,2019,18:00:00,BRONX,NY,10460,Tremont,UNKNOWN,UNKNOWN,U,45-64,WHITE HISPANIC,F,FELONY,ROBBERY,COMPLETED
2,535744284,12/24/2019,12,2019,16:55:00,BROOKLYN,NY,11213,Crown Heights,UNKNOWN,BLACK,M,18-24,WHITE,M,FELONY,FELONY ASSAULT,COMPLETED
3,895678119,12/30/2019,12,2019,19:32:00,BRONX,NY,10463,Kingsbridge,25-44,WHITE,F,UNKNOWN,UNKNOWN,D,MISDEMEANOR,PETIT LARCENY,COMPLETED
6,628084657,12/22/2019,12,2019,16:30:00,BROOKLYN,NY,11236,Canarsie,25-44,BLACK,M,25-44,BLACK,M,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,COMPLETED
7,487138011,12/29/2019,12,2019,17:20:00,BRONX,NY,10472,Parkchester,UNKNOWN,WHITE HISPANIC,M,25-44,BLACK,M,FELONY,ROBBERY,COMPLETED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461700,710094784,1/1/2019,1,2019,1:40:00,BRONX,NY,10467,Norwood,25-44,WHITE HISPANIC,M,25-44,WHITE HISPANIC,M,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,COMPLETED
461701,912917376,1/4/2019,1,2019,10:10:00,MANHATTAN,NY,10011,Greenwich Village,UNKNOWN,UNKNOWN,U,45-64,WHITE,M,FELONY,GRAND LARCENY,COMPLETED
461704,781940970,1/5/2019,1,2019,8:45:00,QUEENS,NY,11372,East Elmhurst,UNKNOWN,BLACK,F,25-44,WHITE HISPANIC,M,VIOLATION,HARRASSMENT 2,COMPLETED
461705,352845293,1/4/2019,1,2019,3:30:00,MANHATTAN,NY,10009,East Village,UNKNOWN,UNKNOWN,U,25-44,BLACK,F,FELONY,GRAND LARCENY,COMPLETED
461707,249722424,1/2/2019,1,2019,22:40:00,QUEENS,NY,11411,Cambria Heights,25-44,BLACK,F,25-44,BLACK,M,FELONY,FELONY ASSAULT,COMPLETED

In [196]:
dt.to_csv("FinalCrime.csv")

In [183]:
dt.shape

(330517, 18)

## creating small csv's

In [ ]:
#date dimension

In [197]:
date_dimension=pd.read_csv("FinalCrime.csv")

In [198]:
date_dimension.head()

,Unnamed: 0,CMPLNT_NUM,CMPLNT_FR_DT,Month,Year,CMPLNT_FR_TM,BORO_NM,State,Incident Zip,neighbourhood,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,LAW_CAT_CD,OFNS_DESC,CRM_ATPT_CPTD_CD
0,0,314773184,12/31/2019,12,2019,18:00:00,BRONX,NY,10460,Tremont,UNKNOWN,UNKNOWN,U,45-64,WHITE HISPANIC,F,FELONY,ROBBERY,COMPLETED
1,2,535744284,12/24/2019,12,2019,16:55:00,BROOKLYN,NY,11213,Crown Heights,UNKNOWN,BLACK,M,18-24,WHITE,M,FELONY,FELONY ASSAULT,COMPLETED
2,3,895678119,12/30/2019,12,2019,19:32:00,BRONX,NY,10463,Kingsbridge,25-44,WHITE,F,UNKNOWN,UNKNOWN,D,MISDEMEANOR,PETIT LARCENY,COMPLETED
3,6,628084657,12/22/2019,12,2019,16:30:00,BROOKLYN,NY,11236,Canarsie,25-44,BLACK,M,25-44,BLACK,M,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,COMPLETED
4,7,487138011,12/29/2019,12,2019,17:20:00,BRONX,NY,10472,Parkchester,UNKNOWN,WHITE HISPANIC,M,25-44,BLACK,M,FELONY,ROBBERY,COMPLETED

In [191]:
name_list=list(date_dimension.columns)
print(name_list)

['CMPLNT_NUM', 'CMPLNT_FR_DT', 'Month', 'Year', 'CMPLNT_FR_TM', 'BORO_NM', 'State', 'Incident Zip', 'neighbourhood', 'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX', 'LAW_CAT_CD', 'OFNS_DESC', 'CRM_ATPT_CPTD_CD']

In [200]:
date_dimension=date_dimension[['CMPLNT_NUM', 'CMPLNT_FR_DT', 'Month', 'Year', 'CMPLNT_FR_TM']]
date_dimension.tail()

        CMPLNT_NUM CMPLNT_FR_DT  Month  Year CMPLNT_FR_TM
330512   710094784     1/1/2019      1  2019      1:40:00
330513   912917376     1/4/2019      1  2019     10:10:00
330514   781940970     1/5/2019      1  2019      8:45:00
330515   352845293     1/4/2019      1  2019      3:30:00
330516   249722424     1/2/2019      1  2019     22:40:00

In [201]:
date_dimension.to_csv("DateDimension.csv")

In [ ]:
# crime dimension

In [202]:
crime_dimension=pd.read_csv("FinalCrime.csv")

In [203]:
crime_dimension=crime_dimension[['CMPLNT_NUM','LAW_CAT_CD', 'OFNS_DESC', 'CRM_ATPT_CPTD_CD']]

In [204]:
crime_dimension.head()

   CMPLNT_NUM   LAW_CAT_CD                     OFNS_DESC CRM_ATPT_CPTD_CD
0   314773184       FELONY                       ROBBERY        COMPLETED
1   535744284       FELONY                FELONY ASSAULT        COMPLETED
2   895678119  MISDEMEANOR                 PETIT LARCENY        COMPLETED
3   628084657  MISDEMEANOR  ASSAULT 3 & RELATED OFFENSES        COMPLETED
4   487138011       FELONY                       ROBBERY        COMPLETED

In [206]:
crime_dimension.to_csv("CrimeTypeDimension.csv")